<div >

<img src="../../assets/images/vietnam1.png" alt="coffee">

<br><br>

<img src="../../assets/images/vietnam2.png"  alt="hanoi_acttraction">

<br><br>
<h2> Halong bay (UNESCO World Heritage Site) </h2>
<img src="../../assets/images/vietnam3.png"  alt="halong">

<br><br>
<h2> Phong Nha – Ke Bang National Park (UNESCO World Heritage Site) </h2>


<img src="../../assets/images/vietnam4.png"  alt="phongnha">

<br><br>

<h2>  Cat Ba Island - Hai Phong </h2>
<img src="../../assets/images/vietnam5.png"  alt="catba">

<br><br>

<img src="../../assets/images/vietnam6.png"  alt="welcome">

</div >
